.header{
    display: flex;
    justify-content: space-evenly;
    position:sticky;
    border-bottom: 1px solid gray;
    background-color: white;
    padding: 10px 0px;
    width: 100%;
    height: fit-content;

}

.header__left{
    display: flex;
}

.header__left >img{
    object-fit: contain;
    height: 30px;
    margin-right: 10px;
}

.header__search{
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 7px;
    height: 15px;
    color: gray;
    background-color: #eef3f8;
    
}

.header__search>input{
    border: none;
    outline: none;
    background: none;
}

.header__right{
    display: flex;

}